<ion-header>
  <ion-toolbar color="danger">
    <ion-searchbar color="danger" shape="round"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color:rgba(128, 128, 128, 0.294)">
  <div class="ion-padding" >
             <!-- List of Text Items -->
           

  <ion-card>
      <ion-item color="success">  
          <ion-avatar slot="start">
            <ion-icon src="/assets/trophy.svg" size="large"></ion-icon>
          </ion-avatar>
        <ion-label>
          <div>Title 1</div>
          <div>Desc</div>
        </ion-label>
        <ion-button shape="round" color="tertiary">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="tertiary">
          <ion-icon name="shuffle"></ion-icon>
        </ion-button> 
      </ion-item>
  </ion-card>
  <ion-card>
    <ion-item color="success">  
        <ion-avatar slot="start">
          <ion-icon src="/assets/trophy.svg" size="large"></ion-icon>
        </ion-avatar>
      <ion-label>
        <div>Title 2</div>
        <div>Desc</div>
      </ion-label>
      <ion-button shape="round" color="tertiary">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="tertiary">
        <ion-icon name="shuffle"></ion-icon>
      </ion-button> 
    </ion-item>
</ion-card>  
  </div>
</ion-content>